body{
    text-align: center;
    background-color: black;
    color: white;
  font-family: helvetica;
}
section{
    display: flex;
  justify-content: center;
    border: #ffffff dotted;
  padding: 10px;
}
footer{
  padding: 20px;
}
